{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Corazon{% endblock %}</title>


<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<!-- TOP NAVBAR -->

<header class="top-navbar">

    <div class="logo">
        <a href="{% url 'home' %}">
            <span>Corazon</span>Marketplace
        </a>
    </div>

    <button class="menu-toggle" id="menu-toggle">
        ☰
    </button>

    <form
    class="search-box"
    action="{% url 'search_products' %}"
    method="GET"
>

    <input
        type="text"
        name="q"
        placeholder="Search products..."
    >

    <button type="submit">
        🔍
    </button>

</form>

    <div class="nav-actions" id="mobile-menu">
        <a href="#">Account</a>
        <a href="#">Orders</a>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'cart' %}" class="cart-link">
            🛒 Cart
            <span id="cart-count">
                {{ request.session.cart|length|default:"0" }}
            </span>
        </a>
    </div>

</header>

<!-- CATEGORY BAR -->

<nav class="category-bar">

    {% for category in categories %}

        <a href="{% url 'category_products' category.slug %}">
            {{ category.name }}
        </a>

    {% endfor %}

</nav>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer class="footer">


<div class="footer-section">
    <h3>Corazon marketplace</h3>
    <p>Your trusted marketplace.</p>
</div>

<div class="footer-section">
    <h3>Support</h3>
    <a href="#">Help Center</a>
    <a href="#">Contact</a>
    <a href="#">Returns</a>
</div>

<div class="footer-section">
    <h3>Company</h3>
    <a href="#">About Us</a>
    <a href="#">Careers</a>
    <a href="#">Our Policies</a>
</div>


</footer>
<div id="toast">
    Product added to cart
</div>


 <div class="bottom-nav">

    <a href="{% url 'home' %}">
        🏠
        <span>Home</span>
    </a>

    <a href="{% url 'cart' %}">
        🛒
        <span>Cart</span>
    </a>

    <a href="{% url 'dashboard' %}">
        👤
        <span>Dashboard</span>
    </a>

</div>

</div>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>
