{% extends 'base.html' %}
{% load static %}

{% block title %}
Shopping Cart
{% endblock %}

{% block content %}

<div class="cart-page">

<h1>Your Shopping Cart</h1>

{% if cart_items %}

    {% for item in cart_items %}

    <div class="cart-item">

        <div>
            <h3>{{ item.product.title }}</h3>
            <p>${{ item.product.price }}</p>
        </div>

        <div class="qty-controls">

            <a href="{% url 'decrease_quantity' item.product.id %}">
                -
            </a>

            <span>{{ item.quantity }}</span>

            <a href="{% url 'increase_quantity' item.product.id %}">
                +
            </a>

            <a href="{% url 'remove_item' item.product.id %}"
       class="remove-btn">
       Remove
    </a>

        </div>

        <div>
            <strong>
                ${{ item.subtotal }}
            </strong>
        </div>

    </div>

    {% endfor %}

    <div class="cart-total">

        <h2>
            Total:
            ${{ total }}
        </h2>

    </div>

{% else %}

    <h3>Your cart is empty.</h3>

{% endif %}

</div>

{% endblock %}
